<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.thirteen37.image-utils</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>656B5B67-F8FB-4C85-B483-0DCB05521B50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC9B2F3C-60AC-4EF4-B7F4-F1B5123F7169</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>805C4A93-6BFE-484B-A030-B8F8681BF2F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E74D75B5-8E92-4CEF-8609-9284DE5A323B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB6CAD9B-50C5-4BFD-A391-86284F7FE634</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD999862-1945-4C11-A886-ACCB7DF22E51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B23D306B-AD75-4B7E-B652-0EC5CA636057</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C34E3941-0B72-4499-AD36-DF7E18FF9CD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B968E9AF-C59E-402B-8462-5FD90564C606</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB6CAD9B-50C5-4BFD-A391-86284F7FE634</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD999862-1945-4C11-A886-ACCB7DF22E51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0F97457-0C8A-49AB-8290-3F1FA0AD2989</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C34E3941-0B72-4499-AD36-DF7E18FF9CD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>264167D5-7976-471C-9742-84FDD3EFB6B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E74D75B5-8E92-4CEF-8609-9284DE5A323B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>264167D5-7976-471C-9742-84FDD3EFB6B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ECA96202-BAB2-42AE-B7EC-796544C5CDFB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>264167D5-7976-471C-9742-84FDD3EFB6B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4425DAE-033E-4DB9-9CDB-4F2166D5D94C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35A6F662-3B74-42C5-B511-965DE631D967</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FAFCD9C1-9890-4112-A121-2EFEAC7E3428</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECA96202-BAB2-42AE-B7EC-796544C5CDFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>thireteen37</string>
	<key>description</key>
	<string>Image conversion and transformation utilities</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Image Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>+public.image</string>
				</array>
				<key>name</key>
				<string>Convert to PNG</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>F4425DAE-033E-4DB9-9CDB-4F2166D5D94C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>while (( "$#" )); do
  in_file="$1"
  out_file="${in_file%.*}.png"

  sips -s format png "$in_file" -o "$out_file"

  shift
done</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>35A6F662-3B74-42C5-B511-965DE631D967</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>+public.image</string>
				</array>
				<key>name</key>
				<string>Convert to JPEG</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>656B5B67-F8FB-4C85-B483-0DCB05521B50</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>while (( "$#" )); do
  in_file="$1"
  out_file="${in_file%.*}.jpg"

  sips -s format jpeg -s formatOptions 80 "$in_file" -o "$out_file"

  shift
done</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FC9B2F3C-60AC-4EF4-B7F4-F1B5123F7169</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>+public.image</string>
				</array>
				<key>name</key>
				<string>Rotate 90º CW</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>FAFCD9C1-9890-4112-A121-2EFEAC7E3428</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>angle</key>
					<string>90</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>ECA96202-BAB2-42AE-B7EC-796544C5CDFB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>+public.image</string>
				</array>
				<key>name</key>
				<string>Rotate 90º CCW</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>B23D306B-AD75-4B7E-B652-0EC5CA636057</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>size=$1
IFS=$'\t'
files=($files)

for file in "${files[@]}"; do
  sips -Z $size "$file" &gt;&amp;2
done</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C0F97457-0C8A-49AB-8290-3F1FA0AD2989</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>while (( "$#" )); do
  in_file="$1"

  sips -r $angle "$in_file"

  shift
done</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>264167D5-7976-471C-9742-84FDD3EFB6B8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>+public.image</string>
				</array>
				<key>name</key>
				<string>Resample to fit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>B968E9AF-C59E-402B-8462-5FD90564C606</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>In pixels</string>
				<key>text</key>
				<string>Maximum width and height</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BD999862-1945-4C11-A886-ACCB7DF22E51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>angle</key>
					<string>270</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C34E3941-0B72-4499-AD36-DF7E18FF9CD9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>files</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AB6CAD9B-50C5-4BFD-A391-86284F7FE634</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>+public.image</string>
				</array>
				<key>name</key>
				<string>Rotate 180º</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>805C4A93-6BFE-484B-A030-B8F8681BF2F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>angle</key>
					<string>180</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E74D75B5-8E92-4CEF-8609-9284DE5A323B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Image conversion and transformation utilities.

This uses the built-in `sips` command of Mac OS, so it doesn't have any other external dependencies and is very fast.</string>
	<key>uidata</key>
	<dict>
		<key>264167D5-7976-471C-9742-84FDD3EFB6B8</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>35A6F662-3B74-42C5-B511-965DE631D967</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>656B5B67-F8FB-4C85-B483-0DCB05521B50</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>805C4A93-6BFE-484B-A030-B8F8681BF2F0</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>AB6CAD9B-50C5-4BFD-A391-86284F7FE634</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>B23D306B-AD75-4B7E-B652-0EC5CA636057</key>
		<dict>
			<key>xpos</key>
			<integer>135</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>B968E9AF-C59E-402B-8462-5FD90564C606</key>
		<dict>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>BD999862-1945-4C11-A886-ACCB7DF22E51</key>
		<dict>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>C0F97457-0C8A-49AB-8290-3F1FA0AD2989</key>
		<dict>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>C34E3941-0B72-4499-AD36-DF7E18FF9CD9</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>E74D75B5-8E92-4CEF-8609-9284DE5A323B</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>ECA96202-BAB2-42AE-B7EC-796544C5CDFB</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>F4425DAE-033E-4DB9-9CDB-4F2166D5D94C</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>FAFCD9C1-9890-4112-A121-2EFEAC7E3428</key>
		<dict>
			<key>xpos</key>
			<integer>135</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>FC9B2F3C-60AC-4EF4-B7F4-F1B5123F7169</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
